*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,512,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

	--step--2: clamp(0.79rem, 1.04rem + -1.25vw, 0.64rem);
	--step--1: clamp(0.89rem, 1.04rem + -0.74vw, 0.8rem);
	--step-0: clamp(1rem, 1rem + 0vw, 1rem);
	--step-1: clamp(1.13rem, 0.92rem + 1.04vw, 1.25rem);
	--step-2: clamp(1.27rem, 0.77rem + 2.47vw, 1.56rem);
	--step-3: clamp(1.42rem, 0.54rem + 4.41vw, 1.95rem);
	--step-4: clamp(1.6rem, 0.2rem + 6.99vw, 2.44rem);
	--step-5: clamp(1.8rem, -0.28rem + 10.42vw, 3.05rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,12,1.125,512,16,1.25,5,2,&s=0.75|0.5,1.25|1.5|2|2.5|3.5, */

:root {
	--fluid-min-width: 320;
	--fluid-max-width: 512;

	--fluid-screen: 100vw;
	--fluid-bp: calc(
		(var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
			(var(--fluid-max-width) - var(--fluid-min-width))
	);
}

@media screen and (min-width: 512px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--fc-2xs-min: (var(--fc-s-min) * 0.5);
	--fc-2xs-max: (var(--fc-s-max) * 0.5);

	--fc-xs-min: (var(--fc-s-min) * 0.75);
	--fc-xs-max: (var(--fc-s-max) * 0.75);

	--fc-s-min: (var(--f-0-min, 12));
	--fc-s-max: (var(--f-0-max, 16));

	--fc-m-min: (var(--fc-s-min) * 1.25);
	--fc-m-max: (var(--fc-s-max) * 1.25);

	--fc-l-min: (var(--fc-s-min) * 1.5);
	--fc-l-max: (var(--fc-s-max) * 1.5);

	--fc-xl-min: (var(--fc-s-min) * 2);
	--fc-xl-max: (var(--fc-s-max) * 2);

	--fc-2xl-min: (var(--fc-s-min) * 2.5);
	--fc-2xl-max: (var(--fc-s-max) * 2.5);

	--fc-3xl-min: (var(--fc-s-min) * 3.5);
	--fc-3xl-max: (var(--fc-s-max) * 3.5);

	/* T-shirt sizes */
	--space-xxs: calc(
		((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp)
	);
	--space-xs: calc(
		((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp)
	);
	--space-s: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp)
	);
	--space-m: calc(
		((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp)
	);
	--space-l: calc(
		((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp)
	);
	--space-xl: calc(
		((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp)
	);
	--space-xxl: calc(
		((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)
	);
	--space-xxxl: calc(
		((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp)
	);

	/* One-up pairs */
	--space-2xs-xs: calc(
		((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp)
	);
	--space-xs-s: calc(
		((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp)
	);
	--space-s-m: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp)
	);
	--space-m-l: calc(
		((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp)
	);
	--space-l-xl: calc(
		((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp)
	);
	--space-xl-2xl: calc(
		((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp)
	);
	--space-2xl-3xl: calc(
		((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)
	);

	/* Custom pairs */
}

:root {
	--light-purple: #f8f9fd;
	--purple: #978fff;
	--blue: #80b6fe;
	--white: #fff;
	--black: #595959;
	--dark-grey: #686868;
	--grey: #989898;
	--light-grey: #d8d8d8;
	--green: #5fb05a;
	--red: #e05742;
	--transparent-grey: rgba(193, 193, 193, 0.16);

	--primary: var(--black);
	--secondary: var(--white);
	--dark: var(--purple);
	--background: var(--light-purple);
	--light: var(--blue);
	--muted: var(--dark-grey);
	--subtext: var(--grey);
	--success: var(--green);
	--error: var(--red);
	--info: var(--blue);
	--bs-color: var(--transparent-grey);

	--gradient-to-right: linear-gradient(to right, var(--light), var(--dark));
	--gradient-to-left: linear-gradient(to left, var(--light), var(--dark));
	--gradient-to-top: linear-gradient(to top, var(--light), var(--dark));
	--gradient-to-bottom: linear-gradient(to bottom, var(--light), var(--dark));

	--bs-s-down: 0 1px 3px var(--bs-color);
	--bs-s-up: 0 -1px 3px var(--bs-color);
	--bs-m-down: 0 3px 6px var(--bs-color);
	--bs-m-up: 0 -3px 6px var(--bs-color);
	--bs-l-down: 0 3px 8px var(--bs-color);
	--bs-l-up: 0 -3px 8px var(--bs-color);

	--border-radius: 0.75rem;

	--font-family: 'Poppins', sans-serif;

	--font-xxs: var(--step--2);
	--font-xs: var(--step--1);
	--font-s: var(--step-0);
	--font-m: var(--step-1);
	--font-l: var(--step-2);
	--font-xl: var(--step-3);
	--font-xxl: var(--step-4);

	color: var(--primary);
	font-family: var(--font-family);
	line-height: 1.5;
}

html,
body {
	width: 100%;
	height: 100vh;

	@supports (-webkit-touch-callout: none) {
		height: -webkit-fill-available;
	}
}

html {
	display: grid;
	place-items: center;
	background: #f1f1f1;
}

body {
	margin: 0;
	max-width: 23rem;
	max-height: 42rem;
	background: var(--background);
	overflow: hidden scroll;
	position: relative;

	@media (min-width: 26rem) {
		box-shadow: var(--bs-l-down);
		border-radius: var(--border-radius);
	}
}

#svelte {
	display: grid;
	width: 100%;
	height: 100%;
	position: relative;
	grid-template-rows: min-content auto min-content;
	background: var(--background);
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;

	@supports (-webkit-touch-callout: none) {
		height: -webkit-fill-available;
	}

	@media (min-width: 26rem) {
		border-radius: var(--border-radius);
	}
}

#svelte > {
	header,
	main:first-child {
		grid-row-start: 1;
	}

	main:nth-child(2) {
		grid-row-start: 2;
	}

	main:first-child:nth-last-child(3) {
		grid-row-end: 3;
	}

	main:nth-last-child(2) {
		grid-row-end: 4;
	}
}

:where(#svelte > header),
:where(#svelte > main),
:where(#svelte > footer) {
	padding: var(--space-xl);
}

:where(#svelte > main),
:where(#svelte > footer) {
	padding-bottom: var(--space-xxl);
}

:where(#svelte > footer) {
	padding-top: var(--space-xxl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.125;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h1 {
	font-size: var(--font-xxl);
}

h2 {
	font-size: var(--font-l);
}

h3 {
	font-size: var(--font-m);
}

.tts-button {
	line-height: 1;
	border: none;
	cursor: pointer;
	background: none;
	height: var(--space-m);
	width: var(--space-m);
	padding: 0.4em 0 0;

	div {
		display: block;
		width: 100%;
		height: 100%;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
