*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--purple: #978fff;
	--blue: #80b6fe;
	--white: #fff;
	--black: #000;
	--grey: #d8d8d8;
	--dark-grey: #989898;

	--primary: var(--black);
	--secondary: var(--white);
	--dark: var(--purple);
	--light: var(--blue);
	--muted: var(--grey);
	--subtext: var(--dark-grey);

	--gradient-to-right: linear-gradient(to right, var(--light), var(--dark));
	--gradient-to-left: linear-gradient(to left, var(--light), var(--dark));
	--gradient-to-top: linear-gradient(to top, var(--light), var(--dark));
	--gradient-to-bottom: linear-gradient(to bottom, var(--light), var(--dark));

	--border-radius: 0.75rem;

	--font-family: 'Poppins', sans-serif;

	--base: 1rem;

	--font-xs: calc(var(--font-s) * 0.75);
	--font-s: var(--base);
	--font-m: calc(var(--font-s) * 1.5);
	--font-l: calc(var(--font-s) * 2);
	--font-xl: calc(var(--font-s) * 2.5);

	--space-xs: calc(var(--space-m) / 4);
	--space-s: calc(var(--space-m) / 2);
	--space-m: var(--base);
	--space-l: calc(var(--space-m) * 2);
	--space-xl: calc(var(--space-m) * 4);

	color: var(--primary);
	font-family: var(--font-family);
	line-height: 1.5;
}

html,
body,
#svelte {
	height: 100%;
	min-height: 100vh;
}

body {
	margin: 0;
}

#svelte > {
	header,
	main,
	footer {
		padding: 0 var(--space-m);
	}

	header,
	main:first-child {
		padding-top: var(--space-m);
	}

	footer,
	main:nth-last-child(2) {
		padding-bottom: var(--space-m);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.125;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: bold;
}

h1 {
	font-size: var(--font-xl);
}

h2 {
	font-size: var(--font-l);
}

h3 {
	font-size: var(--font-m);
}
